$baseColor:#480001;
$headingColor:#1e1e1e;
$mutedText:#909090;
$grayBorderColor:#e1e1e1;
$lighterBlack:#3a3a3a;
$lightGray:#fafafa;
$navbarMarginTop:160px;
$navbarMarginBottom:45px;
$logoSize:150px;
$sliderWidth:1200px;
$sliderHeight:660px;
$infoHeadingSize:32px;
$infoParagraphSize:16px;
$infoParagraphLineHeight:1.75;
$ctaMoreWidth:140px;
$ctaMoreHeight:48px;
$ctaBtnFontSize:16px;
$ctaBtnMarginTop:24px;
$ctaBtnBackground:#fff;
$ctaBtnHoverBackground:#fafafa;
$ctaBtnColor:red;
$controlArrowsSize:56px;
$controlArrowsHoverBackground:#fafafa;
$infoSliderPadding:120px;
$popularJwelsMarginTop:56px;//56dp
$popularJwelsMarginBottom:42px;
$popularJwelsTitleFontSize:28px;
$popularJwelsTitleColor:#1e1e1e;
$productImgSize:277px;
$productPriceColor:#3a3a3a;
$goldsMarginTop:85px;
$collectionItemSpacing:32px;