.collections{
  display: flex;
  .collection-item{
      background-size: cover;
      height: 585px;
      width: 584px;
      position: relative;
      text-align: center;
      border-radius: 10px;
      &:nth-child(odd){
        margin: $goldsMarginTop 0 0 $collectionItemSpacing/2;
      }
      &:nth-child(even){
        margin: $goldsMarginTop $collectionItemSpacing/2 0 0;
      }
      &:before{
          content: "";
          background: rgba(255,255,255,0.4);
          width: 100%;
          height: 100%;
          z-index: 5;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
      }
      .collection-off {
          background: #333;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;
          position: absolute;
          top: 24px;
          right: 24px;
          text-align: center;
          z-index: 6;
          span{
              z-index: 7;
              font-size: 16px;
              color: #dbcdcd;
          }
        }
        .collection-off:before,
        .collection-off:after {
          content: "";
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          height: 70px;
          width: 70px;
          background: #333;
        }
        .collection-off:before {
          transform: rotate(30deg);
        }
        .collection-off:after {
          transform: rotate(60deg);
        }
      .collection-info{
          position: absolute;
          bottom: 20px;
          right: 50%;
          transform: translateX(50%);
          z-index: 6;
      }
      .collection-title{
          font-weight: bold;
          font-size: 28px;
          color: $popularJwelsTitleColor;
      }
      .collection-price{
          color: $productPriceColor;
          font-size: 16px;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .btn-cta{
          width: 200px !important;
          height: 48px !important;
          font-size: 16px !important;
          display: flex;
          justify-content: center;
          margin-top:16px;
          padding: 0.5rem 1rem !important;
          i{
            margin-left: 0.5rem;
          }
      }
  }
}