.product-slider{
    direction: ltr !important;

    .product-title{
      font-size: 1.15rem !important;
    }
    .product-price{
      color: $mutedText;
      font-size: 0.75rem;
    }
    .product-img{
        width: 200px;
        height: 200px;
        position: relative;
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
        }
        .product-actions{
          position: absolute;
          top: 12px;
          right: 10px;
          .btn{
            padding: 0 !important;
            &:focus{
              box-shadow: unset !important;
            }
            i{
              font-size: 1.3rem !important;
            }
          }
        }
    }
    .product-details{
        padding-right: 2rem;
        direction: rtl !important;
        margin-top: 1rem;
    }
     .controls{
        position:absolute;
        cursor: pointer;
        top:40%;
        width:40px;
        height:40px;
        background:#fff;
        box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
        border:0 none;
        margin-top:-22.5px;
        text-align:center;
        font:20px/45px;
        color:#000;
        z-index:5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        &:focus{
            box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23) !important;
            outline: 0;
        }
        &:before{
            border-style: solid;
            border-width: 0.06em 0.06em 0 0;
            content: '';
            display: inline-block;
            height: 0.6em;
            position: relative;
            transform: rotate(-45deg);
            vertical-align: top;
            width: 0.6em;
        }
      }
      
       .NextArrow{
        
        right: -2px;
        
      }
      
       .NextArrow:before{
        left: -3px;
        transform: rotate(45deg);
      }
      
      .PrevArrow{
        left:-21px;
      }
      
      .PrevArrow:before{
        left: 0.15em;
        transform: rotate(-135deg);
        top: 0.1em;
      }
      @media(max-width: 992px) {
        .controls{
          width:30px;
          height:30px;          
          &:before{
              border-width: 0.05em 0.05em 0 0;
              height: 0.5em;
              width: 0.5em;
          }
        }
        
         .NextArrow{
          
          right: 5px;
          
        }
        
         .NextArrow:before{
          left: -3px;
          transform: rotate(45deg);
        }
        
        .PrevArrow{
          left:-10px;
        }
        
        .PrevArrow:before{
          left: 0.15em;
          transform: rotate(-135deg);
          top: 0.1em;
        }
      }
}

