@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Yekan/Yekan.eot');
    src: url('../fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/Yekan/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Yekan/Yekan.ttf') format('truetype');
  }