.product-details{
    display: flex;
    position: relative;
    height: 500px;
    margin: 5.75rem 0 10rem 0;
    &__title{
        color: $baseColor;
    }
    &__price{
        color: $mutedText;
    }
    &__img{
        position: absolute;
        width: 50%;
        border-radius: 15px;
        left: 0;
        img{
            max-width: 100%;
            border-radius: 15px;
        }
    }
    &__actions{
        display: flex;
        align-items: center;
    
    }
    &__counter{
        display: flex;
        align-items: center;
        margin-right: 1.05rem;
        .round-button{
            width: 35px;
            height: 35px;
            padding-top: 11px;
            &:last-child{
                padding-top: 0px;
            }
        }
        .counter-value{
            margin: 0 12px;
        }
    }
    &__description{
        margin-top: 2.7rem;
        p{
            color: $lighterBlack;
            font-size: 0.85rem;
            margin-top: 1.5rem;
        }
    }
    &__details{
        position: absolute;
        top: 3.75rem;
        background: rgba(245,254,240,0.7);
        width: 50%;
        padding: 2rem;
        right: 57px;
        z-index: 5;
        border-radius: 15px;
    }
    &__features{
        padding: 0 1rem;
        margin-top: 2rem;
        li{
            font-size: 0.85rem;
        }
    }
}
.features-section{
    padding: 4.5rem 0;
    border-top: 1px solid $grayBorderColor;
    border-bottom: 1px solid $grayBorderColor;
    .feature-item{
        text-align: center;
        &__icon{
            // padding: 1.1rem;
            width: 80px;
            height: 80px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border:1px solid $grayBorderColor;
            border-radius: 10px; 
            font-size: 1.95rem;
        }
        &__subtitle{
            color: $lighterBlack;
            font-size: 0.85rem;
        }
        &__action{
            color: $baseColor;
            &:hover{
                text-decoration: none;
            }
        }
    }   
}
.recommended-products{
    background: $lightGray;
    padding: 6.25rem;
    .product-details{
        display: flex;
        flex-direction: column;
        height: 0;
    }
}